@model WFW.CashFlow.Models.CalendarsModel

@{
    ViewBag.Title = "Calendars";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Scripts{

    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtDate").datetimepicker({
                locale: "ru",
                format: "L"
            });
           
        });
    </script>
}

@using (Html.BeginForm("Calendars", "FastWidget", FormMethod.Post))
{
    <h2>
        Отправить расходы в доступные календари
    </h2>

    <div class="row" style="text-align: left;">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">


        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <div>
                @Html.RadioButtonFor(z => z.CurrentPlan, "1") &nbsp; Текущий план
            </div>
            <div>
                @Html.RadioButtonFor(z => z.CurrentPlan, "2") &nbsp; Вчера
            </div>
            <div>
                @Html.RadioButtonFor(z => z.CurrentPlan, "0") &nbsp; Найти план по дате
            </div>

        </div>
    </div>
    <div class="row" style="text-align: left;">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">


        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            @Html.TextBoxFor(z => z.Date, new {@id = "txtDate", @class="form-control cf-center"})
        </div>
    </div>
    <div class="row center-block" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Синхронизировать</button>&nbsp;
        <a href="@Url.Action("Index")" class="btn btn-default">Отмена</a>
    </div>

}

